---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/Untitled document.md";
import { Image } from "astro:assets";
import Identities from "@components/sections/Identities.astro";
import BaseLu from "@assets/images/Hongie.webp";
import TwoColumn from "@components/TwoColumn.astro";
import BaseSprite from "@assets/images/BaseSprite.webp";
import WCorpNorm from "@assets/images/WCorpNorm.png";
import WCorpUpgrade from "@assets/images/WCorpUpgrade.png";
import WCorpSprite from "@assets/images/WCorpSprite.webp";
import FanghuntNorm from "@assets/images/FanghuntNorm.png";
import FanghuntUpgrade from "@assets/images/FanghuntUpgrade.png";
import FanghuntSprite from "@assets/images/FanghuntSprite.png";
import BaseEGO from "@assets/images/BaseEGO.webp";
import ZAYIN from "@assets/images/ZAYIN.png";
import TETH from "@assets/images/TETH.png";
import WAW from "@assets/images/WAW.png";
import ImageSwitcher from "@components/ImageSwitcher.astro";
import YurodivyNorm from "@assets/images/YurodivyNorm.webp";
import YurodivyUpgrade from "@assets/images/YurodivyUpgrade.webp";
import YurodivySprite from "@assets/images/YurodivySprite.webp";
import HongyuanNorm from "@assets/images/HongyuanNorm.webp";
import HongyuanUpgrade from "@assets/images/HongyuanUpgrade.webp";
import HongyuanSprite from "@assets/images/HongyuanSprite.png";
import Hongyuan from "@components/sections/Hongyuan.astro";
---

<Layout title="Astro Starter">

<section id="Identities">  
  <h1>Identities</h1>
  
  <h2>LCB Sinner Hong Lu</h2>
  <Image src={BaseLu} alt="A picture of Honglu" />
  <h2>“My name’s Hong Lu. I hope we can get along well.”</h2>
  
  <TwoColumn width1="2" width2="1">
    <Identities slot="left" first="Downward Cleave" second="Dual Strike" third="Whirlwind">
      <Fragment slot="panel-1">
      <ul>
        <li>[On Hit] Inflict 2 Sinking</li>
      </ul>
      </Fragment>
      <Fragment slot="panel-2">
      <ul>
        <li>[On Hit] Inflict 2 Sinking</li>
        <li>[On Hit] Inflict 2 Rupture</li>
      </ul>
      </Fragment>
      <Fragment slot="panel-3">
      <ul>
        <li>[Heads Hit] Inflict 2 Attack Power Down</li>
        <li>[On Hit] Inflict 2 Sinking</li>
        <li>[On Hit] Inflict 2 Rupture</li>
      </ul>
      </Fragment>
  </Identities>
  <Image src={BaseSprite} slot="right" alt=""/>
</TwoColumn>

  
<h2>W2 Corp. L2 Cleanup Agent Hong Lu</h2>

<ImageSwitcher title1="Normal" title2="Upgrade">
 <Image slot="slot-1"    src={WCorpNorm} alt="A picture of Honglu" />
  <Image  slot="slot-2"  src={WCorpUpgrade} alt=""/>
</ImageSwitcher>

<h2> “Those WARP Trains tend to be rather cramped, don’t you think?”</h2>

  <TwoColumn width1="2" width2="1">
    <Identities slot="left" first="Energy Cycle" second="Cleanup Support" third="Deploy Charge Barrier">
      <Fragment slot="panel-1">
      <p>[On Use] Gain +4 Charge Count</p>
      <ul>
        <li>[On Hit] Gain +1 Charge Count</li>
        <li>[On Hit] Gain +1 Charge Count</li>
      </ul>
      </Fragment>
      <Fragment slot="panel-2">
      <p>[On Use] Gain +3 Charge Count </p>
      <p>Clash Power +2 when Shielded</p>
      <ul>
        <li>[On Hit] Gain +3 Charge Count</li>
        <li>[On Hit] At 5+ Charge Count, gain 1 Charge Barrier for every 5 Charge Count next turn (Max 4)</li>
      </ul>
      </Fragment>
      <Fragment slot="panel-3">
      <p>[On Use] At 10+ Charge Count, consume all Charge Count to apply Charge Barrier to 2 allies with the lowest HP percentage</p>
      <ul>
        <li>[On Hit] Inflict 5 Rupture</li>
        <li>[On Hit] Gain 2 Charge Barrier next turn</li>
      </ul>
      </Fragment>
    </Identities>
   
    <Image src={WCorpSprite} slot="right" alt=""/>

  </TwoColumn>

<h2>Fanghunt Office Fixer Hong Lu</h2>

<ImageSwitcher title1="Normal" title2="Upgrade">
  <Image slot="slot-1" src={FanghuntNorm} alt="A picture of Honglu" />
  <Image slot="slot-2" src={FanghuntUpgrade} alt=""/>
</ImageSwitcher>

<h2>“Bloodfiends are not only vile, they're also very persistent. So~ we should make sure we have everything ready to take them on, right?"</h2>
  
  <TwoColumn width1="2" width2="1">
    <Identities slot="left" first="Slam" second="Bonecrusher" third="A Cheerful Hunt's End">
      <Fragment slot="panel-1">
      <p>If target has 6+ Rupture, Coin Power +1</p>
      <ul>
        <li>[On Hit] Inflict 1 Rupture</li>
        <li>[Heads Hit] Inflict 1 Rupture</li>
        <li>[On Hit] Inflict 1 Rupture</li>
        <li>[Heads Hit] Inflict 1 Rupture</li>
      </ul>
      </Fragment>
      <Fragment slot="panel-2">
      <ul>
        <li>[On Use] Gain +3 Charge Count </li>
        <li>[On Hit] Gain +3 Charge Count</li>
        <li>[On Hit] At 5+ Charge Count, gain 1 Charge Barrier for every 5 Charge Count next turn (Max 4)</li>
      </ul>
      </Fragment>
      <Fragment slot="panel-3">
      <ul>
        <li>[On Use] At 10+ Charge Count, consume all Charge Count to apply Charge Barrier to 2 allies with the lowest HP percentage</li>
        <li>[On Hit] Inflict 5 Rupture</li>
        <li>[On Hit] Gain 2 Charge Barrier next turn</li>
      </ul>
      </Fragment>
    </Identities>
   
    <Image src={FanghuntSprite} slot="right" alt=""/>

  </TwoColumn>

<h2>District 20 Yurodivy Hong Lu</h2>

<ImageSwitcher title1="Normal" title2="Upgrade">
  <Image slot="slot-1" src={YurodivyNorm} alt="A picture of Honglu" />
  <Image slot="slot-2" src={YurodivyUpgrade} alt=""/>
</ImageSwitcher>

<h2>“So this was the murder scene? Hmm… What an amateurish finish… They must’ve been really pressed for time.”</h2>
  
  <TwoColumn width1="1" width2=".5">
    <Identities slot="left" first="Deduction Start" second="Morph Cane Technique" third="You're The Culprit!">
      <Fragment slot="panel-1">
        <p>[On Use] Gain +2 Tremor Count</p>
        <p>At 6+ Tremor Count, Coin Power +1</p>
        <ul>
          <li>[On Hit] Inflict 2 Tremor</li>
          <li>[On Hit] Gain +2 Tremor Count</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <p>[On Use] If target has 6+ Tremor, Clash power +1</p>
        <p>[On Use] Gain +3 Tremor Count</p>
        <p>At 5+ Tremor Count, Coin Power +1</p>
        <ul>
          <li>[On Use] Gain +3 Tremor Count </li>
          <li>[On Hit] Inflict 3 Tremor</li>
          <li>[On Hit] If target has 6+ Tremor, trigger Tremor Burst; then, reduce target's Tremor Count by 1</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-3">
        <p>[On Use] Clash Power +1 for every 6 Tremor on target (max 2)</p>
        <p>[On Use] At less than 15 Tremor Count on self, consume 10 Tremor Count to gain Coin Power +2 </p>
        <p>[On Use] Consume 15 Tremor Count on self to gain Coin Power +3</p>
        <ul>
          <li>[On Hit] If this Skill consumed Tremor Count On Use, trigger Amplitude Entanglement into Tremor - Reverb</li>
          <li>[On Hit] Trigger Tremor Burst; then, reduce target's Tremor Count by 1</li>
          <li>[On Hit] If this Skill consumed 10+ Tremor Count on Skill Use, trigger Tremor Burst; then, reduce target's Tremor Count by 1</li>
          <li>[On Hit] If this Skill consumed 10+ Tremor Count on Skill Use, trigger Tremor Burst; then, reduce target's Tremor Count by 1 </li>
            <ul>
              <li>If this unit consumed less than 15 Tremor Count, trigger Tremor Burst on self after activating the above effect</li>
            </ul>
        </ul>
      </Fragment>
    
    </Identities>
   
    <Image src={YurodivySprite} slot="right" alt=""/>

  </TwoColumn>

<h2>The Lord of Hongyuan Hong Lu</h2>

<ImageSwitcher title1="Normal" title2="Upgrade">
  <Image slot="slot-1" src={HongyuanNorm} alt="A picture of Honglu" />
  <Image slot="slot-2" src={HongyuanUpgrade} alt=""/>
</ImageSwitcher>

<h2>“So this is what Daguanyuan looks like from the zenith of Hongyuan, huh? Fuhu, then I suppose…… I have need of this pretense no longer.”</h2>
  
  <TwoColumn width1="1" width2="1">
    <Identities slot="left" first="I Wish to Open the Path" second="Tarnished Blood's Absolute Cleaver of Ambitions [汚血絕志竟成]" third="1. Answer Me, Heishou Packs">
      <Fragment slot="panel-1">
        <p>[Combat Start] Apply 1 Defense Power Up to 1+ other allies. (once per turn; max 3; prioritizes targets with Assist Defense; includes Unique Assist Defenses) </p>
        <p>[On Use] At 6+ (Rupture on target + Poise on self), Coin Power +1 </p>
        <p>[On Use] If target has 3+ types of negative effects, Clash Power +1</p>
        <ul>
          <li>[On Hit] Gain +3 Poise Count</li>
          <li>[On Hit] Inflict +2 Rupture Count</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <p>[Combat Start] Apply 1 Gluttony DMG Up to all other allies that have Gluttony Skills equipped this turn (once per turn) </p>
        <p>[On Use] Coin Power +1 for every 6 (Rupture on target + Poise on self) (max 2) </p>
        <p>[On Use] Gain 3 Poise</p>
        <ul>
          <li>[On Hit] Inflict +1 Rupture Count</li>
          <li>[On Hit] Inflict 3 Tremor</li>
        </ul>
        <p class="unbreak">Unbreakable Coin</p>
        <ul>
          <li>[On Hit] Inflict 1 Rupture</li>
        </ul>
        <p class="unbreak">Unbreakable Coin</p>
        <ul>
          <li>Deal +50% damage</li>
          <li>+50% Damage on Critical Hit</li>
          <li>[On Hit] Inflict 2 Rupture</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-3">
        <p>This Skill does not trigger Defense Skills</p>
        <p> <span style="color:rgb(0, 204, 255)">[On Use]</span> Coin Power +1 for every 4 (Rupture on target + Poise on self) (max 3) </p>
        <p>[On Use] Gain 5 Poise and +3 Poise Count </p>
        <p>[After Attack] Among ally Heishou units that can act, choose 1 unit with the least Unrelenting Storm Stack and apply Unrelenting Storm; then, bestow Exalted Command. (once per turn) </p>
        <ul>
          <ul>
            <li>After Exalted Command is complete, The Lord of Hongyuan Hong Lu activates 'I Carve the Path of a Lord' </li>
            <li>If Exalted Command did not activate, or if the combo Identity is Staggered or defeated before Exalted Command is complete, use 'Lonesome Stand: Sacrifice to Claim The Garden' instead</li>
          </ul>
        </ul>
        <p class="unbreak">Unbreakable Coin</p>
        <ul>
          <li>[On Hit] Inflict 1 Offense Level Down for every 2 types of negative effects on target (max 3) </li>
          <li>[On Hit] Inflict 1 Defense Level Down for every type of Deathrite on target (max 3)</li>
        </ul>
      </Fragment>
    </Identities>
   
    <Image src={HongyuanSprite} slot="right" alt=""/>

  </TwoColumn>

  <Hongyuan>

    
  </Hongyuan>
</section>

<section id="EGOs">
 
 <h1>EGOs</h1>
  <TwoColumn>
    <h2 slot="left">Land of Illusion Hong Lu</h2>

    <Image src={BaseEGO} slot="left" alt=""/>

    <h2 slot="right">“Let’s visit the world of wonders”</h2>
      <div class="EGOtype" slot="right">
   <p slot="right">Risk level:</p> <Image src={ZAYIN} slot="right" alt=""/>
      </div>
    
      <ul slot="right">
      <li>[After Attack] Heal 15 SP</li>
      <li>[On hit] Onflict 5 Sinking</li>
      <li>After Attack] Next turn: -2 SP Loss Efficiency to all allies; -2 to amount of SP lost from E.G.O use</li>
    </ul>
  </TwoColumn>

</section>



</Layout>

<style>

.EGOtype {
display: flex;
padding: 1rem;
}


.unbreak {
  color:crimson;
  text-decoration: underline;
}
  
</style>