---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/Untitled document.md";
import { Image } from "astro:assets";
import Identities from "@components/sections/Identities.astro";
import BaseLu from "@assets/images/Hongie.webp";
import TwoColumn from "@components/TwoColumn.astro";
import BaseSprite from "@assets/images/BaseSprite.webp";
import WCorpNorm from "@assets/images/WCorpNorm.png";
import WCorpUpgrade from "@assets/images/WCorpUpgrade.png";
import WCorpSprite from "@assets/images/WCorpSprite.webp";
import FanghuntNorm from "@assets/images/FanghuntNorm.png";
import FanghuntUpgrade from "@assets/images/FanghuntUpgrade.png";
import FanghuntSprite from "@assets/images/FanghuntSprite.png";
import BaseEGO from "@assets/images/BaseEGO.webp";
import ZAYIN from "@assets/images/ZAYIN.png";
import TETH from "@assets/images/TETH.png";
import WAW from "@assets/images/WAW.png";
import ImageSwitcher from "@components/ImageSwitcher.astro";
import YurodivyNorm from "@assets/images/YurodivyNorm.webp";
import YurodivyUpgrade from "@assets/images/YurodivyUpgrade.webp";
import YurodivySprite from "@assets/images/YurodivySprite.webp";
import HongyuanNorm from "@assets/images/HongyuanNorm.webp";
import HongyuanUpgrade from "@assets/images/HongyuanUpgrade.webp";
import HongyuanSprite from "@assets/images/HongyuanSprite.png";
import Hongyuan from "@components/sections/Hongyuan.astro";
import SodaEGO from "@assets/images/SodaEGO.webp";
import ToadEGO from "@assets/images/ToadEGO.webp";
import TearsEGO from "@assets/images/TearsEGO.webp";
import Tears from "@components/sections/Tears.astro";
import HongSprite from "@assets/images/800px-Hong_Lu_Sprite_6.webp";
import InitialLu from "@assets/images/1024px-E704.webp";
import YoungLu from "@assets/images/1024px-S814.webp";
import EndLu from "@assets/images/1024px-S827.webp";
---

<Layout title="Astro Starter">

<section id="Identities">  
  <h1>Identities</h1>
  
<div class="abovecolumn">
    <h2>LCB Sinner Hong Lu</h2>
  <ImageSwitcher title1="Normal">
    <Image slot="slot-1" src={BaseLu} alt="A picture of Honglu" />
  </ImageSwitcher>
    <h2>“My name’s Hong Lu. I hope we can get along well.”</h2>
</div> 
  <TwoColumn width1="2" width2="1">
    <Identities slot="left" first="Downward Cleave" second="Dual Strike" third="Whirlwind">
      <Fragment slot="panel-1">
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Sinking</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Sinking</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Rupture</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-3">
        <ul>
          <li><span style="color:rgb(180, 255, 110)">[Heads Hit]</span> Inflict 2 Attack Power Down</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Sinking</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Rupture</li>
        </ul>
      </Fragment>
   </Identities>
  <Image src={BaseSprite} slot="right" alt=""/>
</TwoColumn>

<div class="abovecolumn">
  <h2>W2 Corp. L2 Cleanup Agent Hong Lu</h2>

  <ImageSwitcher title1="Normal" title2="Upgrade">
  <Image slot="slot-1"    src={WCorpNorm} alt="A picture of Honglu" />
    <Image  slot="slot-2"  src={WCorpUpgrade} alt=""/>
  </ImageSwitcher>

  <h2> “Those WARP Trains tend to be rather cramped, don’t you think?”</h2>
</div> 
  
<TwoColumn width1="2" width2="1">
    <Identities slot="left" first="Energy Cycle" second="Cleanup Support" third="Deploy Charge Barrier">
      <Fragment slot="panel-1">
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Gain +4 Charge Count</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Gain +1 Charge Count</li>
          <li><span style="color:chartreuse">[On Hit]</span> Gain +1 Charge Count</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Gain +3 Charge Count </p>
        <p>Clash Power +2 when Shielded</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Gain +3 Charge Count</li>
          <li><span style="color:chartreuse">[On Hit]</span> At 5+ Charge Count, gain 1 Charge Barrier for every 5 Charge Count next turn (Max 4)</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-3">
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> At 10+ Charge Count, consume all Charge Count to apply Charge Barrier to 2 allies with the lowest HP percentage</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 5 Rupture</li>
          <li><span style="color:chartreuse">[On Hit]</span> Gain 2 Charge Barrier next turn</li>
        </ul>
      </Fragment>
    </Identities>
   
    <Image src={WCorpSprite} slot="right" alt=""/>

  </TwoColumn>

<div class="abovecolumn">
  <h2>Fanghunt Office Fixer Hong Lu</h2>

  <ImageSwitcher title1="Normal" title2="Upgrade">
    <Image slot="slot-1" src={FanghuntNorm} alt="A picture of Honglu" />
    <Image slot="slot-2" src={FanghuntUpgrade} alt=""/>
  </ImageSwitcher>

  <h2>“Bloodfiends are not only vile, they're also very persistent. So~ we should make sure we have everything ready to take them on, right?"</h2>
</div>  

  <TwoColumn width1="2" width2="1">
    <Identities slot="left" first="Slam" second="Bonecrusher" third="A Cheerful Hunt's End">
      <Fragment slot="panel-1">
        <p>If target has 6+ Rupture, Coin Power +1</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 1 Rupture</li>
          <li><span style="color:rgb(180, 255, 110)">[Heads Hit]</span> Inflict 1 Rupture</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 1 Rupture</li>
          <li><span style="color:rgb(180, 255, 110)">[Heads Hit]</span> Inflict 1 Rupture</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <ul>
          <li><span style="color:rgb(0, 204, 255)">[On Use]</span> Gain +3 Charge Count </li>
          <li><span style="color:chartreuse">[On Hit]</span> Gain +3 Charge Count</li>
          <li><span style="color:chartreuse">[On Hit]</span> At 5+ Charge Count, gain 1 Charge Barrier for every 5 Charge Count next turn (Max 4)</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-3">
        <ul>
          <li><span style="color:rgb(0, 204, 255)">[On Use]</span> At 10+ Charge Count, consume all Charge Count to apply Charge Barrier to 2 allies with the lowest HP percentage</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 5 Rupture</li>
          <li><span style="color:chartreuse">[On Hit]</span> Gain 2 Charge Barrier next turn</li>
        </ul>
      </Fragment>
    </Identities>
   
    <Image src={FanghuntSprite} slot="right" alt=""/>

  </TwoColumn>
  
<div class="abovecolumn">
  <h2>District 20 Yurodivy Hong Lu</h2>

  <ImageSwitcher title1="Normal" title2="Upgrade">
    <Image slot="slot-1" src={YurodivyNorm} alt="A picture of Honglu" />
    <Image slot="slot-2" src={YurodivyUpgrade} alt=""/>
  </ImageSwitcher>

  <h2>“So this was the murder scene? Hmm… What an amateurish finish… They must’ve been really pressed for time.”</h2>
</div>   
  
  <TwoColumn width1="1" width2=".4">
    <Identities slot="left" first="Deduction Start" second="Morph Cane Technique" third="You're The Culprit!">
      <Fragment slot="panel-1">
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Gain +2 Tremor Count</p>
        <p>At 6+ Tremor Count, Coin Power +1</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Tremor</li>
          <li><span style="color:chartreuse">[On Hit]</span> Gain +2 Tremor Count</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> If target has 6+ Tremor, Clash power +1</p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span>Gain +3 Tremor Count</p>
        <p>At 5+ Tremor Count, Coin Power +1</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Gain +3 Tremor Count </li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 3 Tremor</li>
          <li><span style="color:chartreuse">[On Hit]</span> If target has 6+ Tremor, trigger Tremor Burst; then, reduce target's Tremor Count by 1</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-3">
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Clash Power +1 for every 6 Tremor on target (max 2)</p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> At less than 15 Tremor Count on self, consume 10 Tremor Count to gain Coin Power +2 </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Consume 15 Tremor Count on self to gain Coin Power +3</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> If this Skill consumed Tremor Count On Use, trigger Amplitude Entanglement into Tremor - Reverb</li>
          <li><span style="color:chartreuse">[On Hit]</span> Trigger Tremor Burst; then, reduce target's Tremor Count by 1</li>
          <li><span style="color:chartreuse">[On Hit]</span> If this Skill consumed 10+ Tremor Count on Skill Use, trigger Tremor Burst; then, reduce target's Tremor Count by 1</li>
          <li><span style="color:chartreuse">[On Hit]</span> If this Skill consumed 10+ Tremor Count on Skill Use, trigger Tremor Burst; then, reduce target's Tremor Count by 1 </li>
            <ul>
              <li>If this unit consumed less than 15 Tremor Count, trigger Tremor Burst on self after activating the above effect</li>
            </ul>
        </ul>
      </Fragment>
    
    </Identities>
   
    <Image src={YurodivySprite} slot="right" alt=""/>

  </TwoColumn>

<div class="abovecolumn">
  <h2>The Lord of Hongyuan Hong Lu</h2>

  <ImageSwitcher title1="Normal" title2="Upgrade">
    <Image slot="slot-1" src={HongyuanNorm} alt="A picture of Honglu" />
    <Image slot="slot-2" src={HongyuanUpgrade} alt=""/>
  </ImageSwitcher>

  <h2>“So this is what Daguanyuan looks like from the zenith of Hongyuan, huh? Fuhu, then I suppose…… I have need of this pretense no longer.”</h2>
</div>  

  <TwoColumn width1="1" width2="1">
    <Hongyuan slot="left" first="I Wish to Open the Path" second="Tarnished Blood's Absolute Cleaver of Ambitions [汚血絕志竟成]" third="Answer Me, Heishou Packs" fourth="I Carve the Path of a Lord" fifth="Lonesome Stand: Sacrifice to Claim The Garden [孑孑單身，捨生取园]">
      <Fragment slot="panel-1">
        <p>[Combat Start] Apply 1 Defense Power Up to 1+ other allies. (once per turn; max 3; prioritizes targets with Assist Defense; includes Unique Assist Defenses) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> At 6+ (Rupture on target + Poise on self), Coin Power +1 </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> If target has 3+ types of negative effects, Clash Power +1</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Gain +3 Poise Count</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict +2 Rupture Count</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <p>[Combat Start] Apply 1 Gluttony DMG Up to all other allies that have Gluttony Skills equipped this turn (once per turn) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Coin Power +1 for every 6 (Rupture on target + Poise on self) (max 2) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Gain 3 Poise</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict +1 Rupture Count</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 3 Tremor</li>
        </ul>
        <p class="unbreak">Unbreakable Coin</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 1 Rupture</li>
        </ul>
        <p class="unbreak">Unbreakable Coin</p>
        <ul>
          <li>Deal +50% damage</li>
          <li>+50% Damage on Critical Hit</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Rupture</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-3">
        <p>This Skill does not trigger Defense Skills</p>
        <p> <span style="color:rgb(0, 204, 255)">[On Use]</span> Coin Power +1 for every 4 (Rupture on target + Poise on self) (max 3) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Gain 5 Poise and +3 Poise Count </p>
        <p>[After Attack] Among ally Heishou units that can act, choose 1 unit with the least Unrelenting Storm Stack and apply Unrelenting Storm; then, bestow Exalted Command. (once per turn) </p>
        <ul>
          <ul>
            <li>After Exalted Command is complete, The Lord of Hongyuan Hong Lu activates 'I Carve the Path of a Lord' </li>
            <li>If Exalted Command did not activate, or if the combo Identity is Staggered or defeated before Exalted Command is complete, use 'Lonesome Stand: Sacrifice to Claim The Garden' instead</li>
          </ul>
        </ul>
        <p class="unbreak">Unbreakable Coin</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 1 Offense Level Down for every 2 types of negative effects on target (max 3) </li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 1 Defense Level Down for every type of Deathrite on target (max 3)</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-4">
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> If this unit activated combo with a Heishou Pack Adept Identity: Base Power +1, Coin Power +1 </p>
        <p>Deal +1% damage for every 1% (missing HP percentage on target + missing HP percentage on self) (max 50%) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Coin Power +1 for every 6 (Rupture on target + Poise on self) (max 3) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Deal +10% damage for every 2 types of negative effects on target (max 30%) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Deal +10% damage for every Heishou Bolus Contamination [黑獸丸染]</p>
        <p>[After Attack] Gain Heishou Bolus Contamination [黑獸丸染] depending on which Heishou Identity activated Exalted Command</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict +1 Rupture Count</li>
          <li>Deal +50% Damage on Critical Hit </li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Rupture</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 1 Slash Resist Down next turn (once per turn) </li>
          <li>[On Kill] For 2 ally Heishou Pack Identities with the least SP, heal 10 SP and apply 1 Attack Power Up next turn</li>
        </ul>
      </Fragment>
      <Fragment slot="panel-5">
        <p>Deal +10% damage for every Life from Death [死中求活] on self </p>
        <p>Deal +1% damage for every 1% (missing HP percentage on target + missing HP percentage on self) (max 50%) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> At 3+ Life from Death [死中求活], gain +1 Atk Weight </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Coin Power +1 for every 6 (Rupture on target + Poise on self) (max 3) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Deal +10% damage for every 2 types of negative effects on target (max 30%) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Deal +10% damage for every Heishou Bolus Contamination [黑獸丸染]</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 1 Rupture.pngRupture</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 1 Rupture.pngRupture</li>
          <li>Deal +10% damage for every type of negative effect on target (max 50%) </li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 1 Rupture.pngRupture</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 1 Slash Resist Down.pngSlash Resist Down next turn (once per turn) </li>
          <li>[On Kill] Gain 2 Attack Power Up.pngAttack Power Up next turn</li>
        </ul>
      </Fragment>
    </Hongyuan>
   
    <Image src={HongyuanSprite} slot="right" alt=""/>

  </TwoColumn>

</section>

<section id="EGOs">
 
 <h1>EGOs</h1>
  
 <TwoColumn>
    <h2 slot="left" class="egotitle">Land of Illusion Hong Lu</h2>

    <Image src={BaseEGO} slot="left" alt=""/>

    <h2 slot="right">“Let’s visit the world of wonders”</h2>
      <div class="EGOtype" slot="right">
   <p slot="right">Risk level:</p> <Image src={ZAYIN} slot="right" alt=""/>
      </div>
    
      <ul slot="right">
      <li>[After Attack] Heal 15 SP</li>
      <li><span style="color:chartreuse">[On Hit]</span> Onflict 5 Sinking</li>
      <li>[After Attack] Next turn: -2 SP Loss Efficiency to all allies; -2 to amount of SP lost from E.G.O use</li>
    </ul>
  </TwoColumn>

  <TwoColumn>
    <h2 slot="left" class="egotitle">Soda Hong Lu</h2>

    <Image src={SodaEGO} slot="left" alt=""/>

    <h2 slot="right">“Let’s visit the world of wonders”</h2>
      <div class="EGOtype" slot="right">
   <p slot="right">Risk level:</p> <Image src={TETH} slot="right" alt=""/>
      </div>
    
      <ul slot="right">
      <li>[Heads Attack End] Heal 2 allies with the lowest HP percentages for 15 HP </li>
      <li>[Tails Attack End] Heal 15 SP for 2 allies with the least SP </li>
      <li>[Crit Attack End] Heal the ally with the lowest HP percentage for 8 HP; Heal the ally with the least SP for 8 SP</li>
    </ul>
  </TwoColumn>

  <TwoColumn>
    <h2 slot="left" class="egotitle">Cavernous Wailing Hong Lu</h2>

    <Image src={ToadEGO} slot="left" alt=""/>

    <h2 slot="right">“A heart shaken by sorrow bursts… like this.”</h2>
      <div class="EGOtype" slot="right">
   <p slot="right">Risk level:</p> <Image src={TETH} slot="right" alt=""/>
      </div>
    
      <div slot="right">
        <p>If target has Tremor, deal +(5 + (Tremor on target + Tremor Count on target)/2)% damage (max 30%) </p>
        <ul>
          <ul>
            <li>At 4+ highest Reson., deal +(7.5 + (Tremor on target + Tremor Count on target)/1.5)% damage instead (max 40%)</li>
          </ul>
        </ul>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 3 Tremor.pngTremor and +3 Tremor.pngTremor Count </li>
          <li><span style="color:chartreuse">[On Hit]</span> Trigger Amplitude Conversion to Tremor - Reverb </li>
          <li><span style="color:chartreuse">[On Hit]</span> Trigger Tremor Burst; then, reduce target's Tremor Count by 1</li>
        </ul>
      </div>

  </TwoColumn>

  <TwoColumn width1="1" width2="1">
    <h2 slot="left" class="egotitle">Tears of the Tarnished Blood [汚血泣淚] Hong Lu</h2>

    <Image src={TearsEGO} slot="left" alt=""/>

    <Tears slot="right" first="'With solemn grace, I accept this deserved punishment.'" second="'With contemplation, I shall darken the clear skies above; with my sacrifice, I shall exsanguinate my carnal blood upon this earth.'">
       <div class="EGOtype" slot="risk">
         <p slot="right">Risk level:</p> <Image src={WAW} slot="right" alt=""/>
        </div>
      <Fragment slot="panel-1">
        <p class="unbreak">[Unclashable]</p>
        <p>Ignores the target's Defense Skill </p>
        <p>This Skill does not hit an enemy </p>
        <p>[After Attack] Gain Flower-burying Wedge [埋花櫼]</p>
        <ul>
          <li>This unit takes fixed damage by this Skill's Final Power </li>
          <ul>
            <li>This damage does not Stagger or reduce this unit's HP below 1</li>
          </ul>
        </ul>
      </Fragment>
      <Fragment slot="panel-2">
        <p>This Skill does not consume E.G.O Resources </p>
        <p class="unbreak">[Unclashable]</p>
        <p>Deal +3% damage for every Flower-burying Wedge [埋花櫼] on self (max 9%) </p>
        <p>Deal +6% damage for every Tarnished Blood on self (max 30%) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> Coin Power +1 for every 5 Rupture on main target (max 3) </p>
        <p><span style="color:rgb(0, 204, 255)">[On Use]</span> At 3+ Tarnished Blood, Atk Weight +1 and Base Power +1 </p>
        <ul>
          <ul>
            <li>At 4+ Tarnished Blood, Atk Weight +1 and Base Power +2 instead </li>
            <li>At 5+ Tarnished Blood, Atk Weight +3 and Base Power +3 instead </li>
          </ul>
        </ul>
        <p>[After Attack] Remove Flower-burying Wedge [埋花櫼] and Tarnished Blood on self, then dies</p>
        <ul>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict +3 Rupture Count</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Rupture</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Rupture</li>
          <li><span style="color:chartreuse">[On Hit]</span> Inflict 2 Rupture</li>
        </ul>
      </Fragment>

    </Tears>

  </TwoColumn>

</section>

<section id="Canto8">

<h1>Canto 8: The Surrendered Witnessing</h1>
<div class="cantoimage">
  <Image src={InitialLu} alt=""/>
</div>

  <p><span class="tab"/>As the group traveled towards Nest H, Dante began seeing into the memories that lingered in Hong Lu's mind, starting by witnessing his interactions with Lin Daiyu. 
    Upon the Manager asking Hong Lu if he missed anyone, he said no, commenting that he had no need to see anyone as long as he believed them to be doing well. </p>
<TwoColumn>

<Image src={HongSprite} slot="left" alt=""/>

   <p slot="right"><span class="tab"/>During their time in the arena, the LCB ended up teaming up with Lin Daiyu as she searched for her clan from which she'd been separated, making Daiyu able to see into Hong Lu's memories as well: Daiyu thus learned about Jia Mu's hand in the fall of the Kong family, and about the abuse Hong Lu had suffered from her and the Xianren, including their retaliation towards Xiren.
    <br><span class="tab"/>
    As Daiyu questioned him about it, Hong Lu confirmed he had been too scared to share this with her, knowing that his actions wouldn't have changed anything, and that they would've only brought pain upon Daiyu as well.</p>

</TwoColumn>
 
  <p><span class="tab"/>Eventually, as Jia Qiu reminisced on what he had seen in Hongyuan and in the world outside, and the hardened hearts of people who simply accepted the way things are, Hong Lu considered his own childhood, and how he had often desired someone would comfort him and protect him; he then offered his honest belief that what Hongyuan needed was kindness. </p>

<div class="cantoimage">
  <Image src={YoungLu} alt=""/>
</div>

<p><span class="tab"/>With Dante's encouragement, Hong Lu accepted that he would have to recognize these feelings and accept their importance in order to truly live, even if they would one day change and disappear. 
  <br><span class="tab"/> 
  As Dante reminded Hong Lu that he is a kind person and that the world is worth seeing through his eyes, Hong Lu told his grandmother that he wouldn't accept an eternity without these feelings, and that he knew Hongyuan would prosper without the Hierarch and their endless pursuit of immortality.</p>

  </section>

<div class="cantoimage">
  <Image src={EndLu} alt=""/>
</div>
<footer>
  <div class="EGOtype">
    <p>site made by Myrkos Diaz</p>
    <div class="TOPbutton">
      <a href="#top">Go back to the top</a>
    </div>
    
  </div>


</footer>
</Layout>

<style>

.EGOtype {
display: flex;
justify-content: space-evenly;
padding: 1rem;
}


.unbreak {
  color:crimson;
  text-decoration: underline;
}
  
.abovecolumn h2 {
  padding-bottom: 1rem;
}

.egotitle {
  padding-bottom: 1rem;
}

section {
  padding-bottom: 2rem;
}

.cantoimage {
max-width: 800px;
margin: auto;
padding: 1rem;
}

@media (min-width: 600px){
.cantoimage {
max-height: 100%;
}
}

.TOPbutton {
  background-color: aliceblue;
  border-radius: 2rem;
  padding: 1rem;
}

.TOPbutton:hover{
  background-color: rgb(193, 228, 245);
}
</style>